<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>neogenia-jenkins</fullName>
  <description></description>
  <properties>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1440551355994</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <jenkins.security.ApiTokenProperty>
      <apiToken>hPB7HZbt67yOX4aVOR9iD/3TRv9mZd/Sdrzmv7nmT0En3eM5O5k7n69SbPAsQ05f</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.11">
      <emailAddress>y.nishiguchi@neogenia.co.jp</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>すべて</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys></authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$V7jGEATifG4KjN4zMRMbFOsw6PjDXJ9nN28orSWYIXFJ/SjDCKhkK</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.18">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain>
            <specifications/>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <java.util.concurrent.CopyOnWriteArrayList/>
        </entry>
      </domainCredentialsMap>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
  </properties>
</user>